# Ignorar arquivos gerados no build
dist/* linguist-generated
generated/* linguist-generated

# Forçar TypeScript como linguagem para .ts
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript